<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bridi Bros Painting">
    <meta name="author" content="Cassio Rodrigo Peluso">

    {% load static %}
    {% block title %}
    {% endblock title %}

    <style>
      body{
        height:fit-content;
      }
      .logoclass {
        position: relative;
        width: 10%;
        height: 10%;
        margin-left:0%;
        margin-right:5%;
        min-width:100px;
      }
      .logo {
        width:100%;
        height: 100%;
      }
    </style>


    <!-- Custom styles for this template -->
  </head>
  <body class="text-center">

    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <div class="row">
              <div class="logoclass">
                <img class='logo' src="{% static 'img/bridilogo.jpeg' %}">
              </div>
              <h1 class="masthead-brand mr-5 mt-2">Bridi Bros</h1>
              <nav class="nav nav-masthead justify-content-center mt-4">
                {% block navbar %}
                {% endblock navbar %}
              </nav>
            </div>
          </div>
        </header>


  <main role="main" class="inner cover my-5">

  {% include 'messages.html' %}

{% block content %}

{% endblock content%}

  </main>

  <footer class="mastfoot my-auto">
    <div class="inner">
      <p>Bridi Bros Painting <a href="{% url 'contact' %}">Send a query</a> or call us: 555-5555555</p>
    </div>
  </footer>

</body>
</html>

{% load bootstrap4 %}
    <link rel="shortcut icon" href="{% static 'img/favicon_io/favicon.ico' %}">
    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
<script>
function close_message(){
  document.querySelector("#msg").remove()
  }
</script>