{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>Get in touch</title>
{% endblock title %}

{% block navbar %}
    <a class="nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-link" href="{% url 'galery' %}">Gallery</a>
    <a class="nav-link" href="{% url 'videos' %}">Videos</a>
    <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
{% endblock navbar %}

{% block content %}
<div class="container">
    <div class="row">
        <iframe class="w-100 mt-4" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                src="https://www.openstreetmap.org/export/embed.html?bbox=-80.31623840332033%2C25.70557815811041%2C-80.04981994628908%2C25.91482062206972&amp;layer=mapnik" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/#map=12/25.8102/-80.1830">View Larger Map</a></small>
    </div>
</div>


<form method="post" action="{% url 'home' %}">
    {% csrf_token %}

    <table class="formcontainer mt-5">
    {{ form.as_table }}
    </table>

    {% bootstrap_button "Send" button_type="submit" button_class="btn-primary" %}
    {% bootstrap_button "Clear" button_type="reset" button_class="btn-secondary" %}

</form>
{% endblock content %}