{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>Get in touch</title>
{% endblock title %}

{% block navbar %}
    <a class="nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-link" href="{% url 'galery' %}">Gallery</a>
    <a class="nav-link" href="{% url 'videos' %}">Videos</a>
    <a class="nav-link active" href="{% url 'contact' %}">Contact</a>
{% endblock navbar %}

{% block content %}
<form method="post" action="{% url 'home' %}">
    {% csrf_token %}

    <table class="formcontainer">
    {{ form.as_table }}
    </table>

    {% bootstrap_button "Send" button_type="submit" button_class="btn-primary" %}
    {% bootstrap_button "Clear" button_type="reset" button_class="btn-secondary" %}

</form>
{% endblock content %}