{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>Gallery</title>
{% endblock title %}

{% block navbar %}
    <a class="nav-link" href="{% url 'home' %}">Home</a>
    <a class="nav-link active" href="{% url 'galery' %}">Gallery</a>
    <a class="nav-link" href="{% url 'videos' %}">Videos</a>
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
{% endblock navbar %}

{% block content %}
    {% for i in imagens %}
        {% if i != '.DS_Store' %}
            <div class="row w-100">
                <img src='./{{ caminho }}/{{ i }}' alt="Image not loaded">
            </div>
        {% endif %}
    {% endfor %}
<style>
img{
    margin: 5%;
    width:100%;
}
</style>
{% endblock content %}