{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>Gallery</title>
{% endblock title %}

{% block navbar %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <div class="row">
            <div class="logoclass">
              <img class='logo' src="{% static 'img/bridilogo.jpeg' %}">
            </div>
            <h3 class="masthead-brand" style="margin-right:5%; height:70%;margin-top:5%">Bridi Bros</h3>
            <nav class="nav nav-masthead justify-content-center" style="height:70%;margin-top:5%">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
              <a class="nav-link active" href="{% url 'galery' %}">Gallery</a>
              <a class="nav-link" href="{% url 'contact' %}">Contact</a>
            </nav>
        </div>
        </div>
      </header>
{% endblock navbar %}

{% block content %}
    {% for i in imagens %}
        {% if i != '.DS_Store' %}
            <div class="row">
                <img src='./{{ caminho }}/{{ i }}' alt="Image not loaded">
            </div>
        {% endif %}
    {% endfor %}
<style>
img{
    margin: 5%;
    width:100%;
}
</style>
{% endblock content %}