{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
<title>Bridi Bros Painting</title>
{% endblock title %}

{% block navbar %}
    <a class="nav-link active " href="{% url 'home' %}">Home</a>
    <a class="nav-link" href="{% url 'galery' %}">Gallery</a>
    <a class="nav-link" href="{% url 'videos' %}">Videos</a>
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
{% endblock navbar %}
{% block content %}
<style>
    .container {position:relative;}
    .container video {
        position: relative;
        z-index: 0;
    }
    .overlay{
        position: absolute;
        top:30%;
        left:5%;
        width:90%;
        z-index:1;
    }
    p {
        color: yellow;
    }

</style>
<div class="container">
    <video src="static/videos/v2.mp4" width="100%" autoplay muted loop>
        Your Browser does not support this media right now
    </video>
    <div class="overlay">
    <h1 class="cover-heading">BRIDI BROS Painting</h1>
    <p class="lead">Renewal of your home, office or shop. Make it more attractive and pleasant for you and your guests.</p>
    </div>
</div>
<p class="lead mt-10" style="color:#febd59">
      <a href="{% url 'galery' %}" class="btn btn-lg btn-secondary">Gallery</a>
    </p>
{% endblock content %}
</div>